// COLOR
$textColor: #2c2c2c;
$textColorDark: #2d2d2d;
$redColor: #fa0f00;
$bluColor: #1473e6;
$hoverBackgroundColor: #f5f5f5;
$hoverButtonColor: #0d66d0;

// FONT SIZE
$miniFont: 14px;
$normalFont: 18px;
$bigFont: 36px;

// CONTAINER SIZE
$smallContainer: 700px;
$mediumContainer: 900px;
$largeContainer: 1200px;
$hugeContainer: 1440px;
